@media (max-width: 420px) {
  .col-lg-custom {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 421px) and (max-width: 767px) {
  .col-lg-custom {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .col-lg-custom {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1025px) {
  .col-lg-custom {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
}
